* {
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag:none;
    user-drag: none;
    color: white;
    font-family: Montserrat, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #1c2327;
}

#loadingBarContainer {
    /*display: none !important;*/
    font-family: Montserrat, sans-serif;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    transition: opacity 1s;
    z-index: 100;
}

#loadingStatus {
    font-weight: 100;
    letter-spacing: 0.5em;
    text-align: center;
    font-size: 2em;
    margin-right: -0.5em;
    margin-bottom: 15px;
}

#loadingDetails {
    font-weight: 100;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 1.5em;
    margin-right: -0.5em;
    margin-top: 15px;
    color: rgba(255, 255, 255, .5)
}

#loadingBar {
    transition: width 0.2s;
    height: 100%;
    width: 0%;
    background: rgb(38, 159, 240);
    border-radius: 100px;
}

#loadingBarBG {
    height: 2px;
    width: 400px;
    padding: 0px;
    top: 50px;
    left: 50px;
    background: rgb(122, 122, 122);
    border-radius: 100px;
    border: 0px solid rgb(190, 190, 190);
}

#guiContainer {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.guiPanel {
    font-family: Montserrat, sans-serif;
    color: white;
    width: 400px;
    /*height: 470px;*/
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: #181818;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.guiBar {
    width: 100%;
    height: 70px;
    /*background-color: #252525;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.guiBar h1 {
    text-transform: uppercase;
    margin: 0;
    padding-left: 25px;
    line-height: 70px;
    font-size: 30px;
    letter-spacing: 0.15em;
}

.guiBar>div {
    /*background-color: #333333;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px 0 10px;
}

.guiBar>div img {
    width: 30px;
    height: 30px;
    padding: 10px;
}

.guiPanelContent {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 25px 25px 25px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 25px;
    color: #cccccc;
}

.center {
    justify-content: center;
    align-items: center;
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}

.noPadding {
    padding: 0;
}

.shadow {
    box-shadow: 0px 60px 100px rgba(0, 0, 0, 0.2);
}

#minimapContainer {
    width: 350px;
    height: 350px;
    border: 1px solid #626262;
    border-radius: 100%;
    overflow: hidden;
}

.map .guiPanelContent {
    position: relative;
}

.mapControls {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 80px;
    height: 80px;
}

.mapControls span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #353535;
    border-radius: 50%;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
}

#zoomIn {
    top: 5px;
    left: 0px;
}

#zoomOut {
    bottom: 0px;
    right: 5px;
}

.bigIconButton {
    width: 100%;
    height: 100px;
    background: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.bigIconButton:hover {
    background: #353535;
}

.map {
    transition: margin-bottom 0.3s;
    border-radius: 20px 0 0 0;
    height: 445px;
}

.map.minimized {
    margin-bottom: -375px;
}

#minimize-minimap {
    transform: scaleY(1);
}

.minimized #minimize-minimap {
    transform: scaleY(-1);
}

.menus {
    border-radius: 0 0 20px 0;
    left: 0;
    top: 0;
    width: 100px;
    height: unset;
    bottom: unset;
}

.menus>div {
    height: auto;
}

.menus .bigIconButton {
    max-height: 10vh;
}

.powercells {
    transition: margin-left 0.3s;
    border-radius: 0 20px 0 0;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 40vh;
    max-height: 500px;
    flex-direction: row-reverse;
}

.powercells.minimized {
    margin-left: -230px;
}

#minimize-powercells {
    transform: scaleX(1) rotate(90deg);
    ;
}

.minimized #minimize-powercells {
    transform: scaleX(-1) rotate(90deg);
    ;
}

.cells-bar {
    height: 100%;
    width: 70px;
    flex-direction: column-reverse;
}

.cells-bar>h1 {
    writing-mode: vertical-lr;
    padding: 25px 0 0 0;
    transform: rotate(180deg);
}

.cells-bar>div {
    margin: 10px 0 10px 0;
}

.cells-icons {
    height: auto;
}

.gauges {
    position: absolute;
    display: flex;
    height: auto;
    width: 550px;
    left: 300px;
    bottom: 0;
    padding: 30px;
    transition: margin-left 0.3s;
    flex-direction: column;
    justify-content: center;
}

.gauges.minimized {
    margin-left: -230px;
}

.gauges>div {
    display: flex;
    height: 50px;
    width: 100%;
    margin: 10px 0 10px 0;
    align-items: center;
}

.gauge {
    background-color: rgba(255, 255, 255, .2);
    flex-grow: 1;
    height: 10px;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    overflow: hidden;
}

.gauge>div {
    width: 75%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.gauges h1 {
    width: 100px;
    font-family: Montserrat, sans-serif;
    font-size: 2em;
    color: white;
    margin-left: 10px;
    font-weight: bold;
}

#gaugeShield {
    background: #00C2FF;
}

#gaugeHull {
    background: #FFFFFF;
}

#gaugeFuel {
    background: #F97327;
}

#gaugeCargo {
    background: #ACACAC;
}

#gaugeSpeed {
    background: #ffffff;
    margin-top: -10px;
}

#gaugeSpeed2 {
    background: #ffffff3f;
}

#tooltip {
    pointer-events: none;
    transform: translateX(400px);
    z-index: 100;
    position: absolute;
    background: #202020;
    /*display:none;*/
    opacity: 0;
    margin-left: 10px;
    margin-left: -390px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.5);
    padding: 22px;
    color: white;
    max-width: 400px;
    transition: opacity .2s;
    font-family: Montserrat, sans-serif;
}

#tooltip>#tooltipName {
    line-height: unset;
    font-size: 18px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#tooltip>#tooltipDesc {
    color: #A0A0A0;
    font-size: 18px;
    margin-top: 5px;
    padding-top: 5px;
    line-height: 25px;
    /*border-top: 1px solid rgba(255, 255, 255, 0.5);*/
}

.windowButton {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .2s, transform .3s;
    border-radius: 50px;
}

.windowButton:hover {
    background-color: rgba(255, 255, 255, .1);
}

#inventoryTop {
    width: 100%;
    /*height:300px;*/
    display: flex;
    flex-direction: row;
    flex-grow: 0;
}

#inventoryTop>div {
    height: 100%;
}

#inventoryBottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.inventory {
    height: 900px;
    width: 950px;
    min-width: 490px;
    min-height: 655px;
    max-width: 1800px;
    max-height: 1100px;
    position: absolute;
}

.inventory .guiPanelContent {
    height: 100%;
}

.inventoryShipImg {
    /*min-width: 100px;*/
    padding: 0 10px 0 10px;
    width: 300px;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inventoryShipImg img {
    width: 80%;
}

.inventorySpecialSlots {
    font-size: 18px;
    font-weight: bolder;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    letter-spacing: .1em;
}

.inventorySpecialSlots>div {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.inventorySpecialSlots>div>div {
    flex-grow: 1;
    width: 70%;
    min-width: 50px;
    max-width: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inventorySpecialSlots>div>div>span {
    line-height: 50px;
    text-transform: uppercase;
}

.inventorySpecialSlots>div>.specialSlotNumber {
    justify-content: flex-start;
    width: 30%;
    min-width: 100px;
    max-width: unset;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.itemNumber {
    font-size: 30px;
}

.inventorySpecialSlots>div>.slotsLeft>span {
    text-align: end;
    padding-right: 20px;
}

.inventorySpecialSlots>div>.slotsRight>span {
    text-align: start;
    padding-left: 20px;
}

.inventorySpecialSlots>div>.specialSlotNumber>span {
    line-height: 100px;
    width: 100%;
}

.inventorySlotSpecial {
    width: 100px;
    height: 100px;
    border: 5px dashed #434343;
    /*box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.473) inset;*/
    border-radius: 10px;
    box-sizing: border-box;
}

#inventoryBar {
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
}

#inventoryBar>div {
    background-color: #ffffff3d;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

#gaugeInventory {
    background-color: white;
    height: 100%;
    border-radius: 10px;
    width: 75%;
    margin-top: -10px;
}

#gaugeInventoryPreview {
    background-color: rgb(202, 42, 42);
    height: 100%;
    border-radius: 10px;
    width: 85%;
}

#inventoryBar>span {
    line-height: 60px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bolder;
}

#inventoryGrid {
    width: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 200px 200px;
    gap: 20px;
    row-gap: 20px;
    padding: 5px 0px 70px 0px;
}

.inventoryCell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventoryCell>div {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 5px dashed #434343;
    box-sizing: border-box;
}

.inventoryCell>.item {
    border: none;
}

.item {
    border: none;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #1C3A4B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(1) rotate(0);
    transition: transform .3s;
}

.item:hover {
    transform: scale(1.05) rotate(0);
}

.item>img {
    width: 110px;
    height: 110px;
}

.item>span {
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .1em;
    text-align: center;
}

.closed {
    display: none;
}

.resizeButton {
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 20px;
    transition: background-color .3s;
}

.resizeButton:hover {
    background-color: rgba(255, 255, 255, 0.438);
}

.dragBar {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .3s;
}

.dragBar:hover {
    background-color: rgba(255, 255, 255, 0.062);
}

.closeButton {
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .3s;
}

.closeButton:hover {
    background-color: rgba(255, 255, 255, 0.062);
}

#bigMap {
    display: none;
}

.draggedItem {
    transform: scale(1.05) rotate(15deg);
    position: absolute;
    transition: transform .3s;
    pointer-events: none;
}

.draggedItem:hover {
    transform: scale(1.05) rotate(15deg);
}